**/Build
**/Cooked
**/Binaries
**/DerivedDataCache
**/Intermediate
**/Saved
**/.vs
**/*.VC.db
**/*.opensdf
**/*.opendb
**/*.sdf
**/*.sln
**/*.suo
**/*.xcodeproj
**/*.xcworkspace
**/*_BuiltData.uasset
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
src/floorTiles.xcf
src/tilesBig.xcf
src/glass.xcf
src/tiles.xcf
