**/Build
**/Cooked
**/Binaries
**/DerivedDataCache
**/Intermediate
**/Saved
**/.vs
**/*.VC.db
**/*.opensdf
**/*.opendb
**/*.sdf
**/*.sln
**/*.suo
**/*.xcodeproj
**/*.xcworkspace
**/*_BuiltData.uasset
**/Developers
**/TestBuilds

**/Weapons/T_Metal_Metal02_D.uasset
**/Weapons/Rifle/T_MagGunT2_shade.uasset
**/Weapons/Rifle/T_MagGunT1_shade.uasset


**/Content/StarterContent
**/Content/Planetarium
**/Content/KiteDemo
**/Content/Freebie_01
**/Landscape/T_ScotsPine*
**/Landscape/T_RiverPebbles*
**/Landscape/T_MountainRock*
**/Landscape/T_MacroVariation*
**/Landscape/T_LavaFlow*
**/Landscape/T_PlainsBoulder*
**/Landscape/T_ground_Moss*
**/Landscape/T_gravel*
**/Landscape/T_Til*
**/Landscape/T_Alpine*
**/Landscape/ScotsPine*
**/Landscape/D_Tree*
**/Landscape/Hill*
**/Landscape/T_Hill*
**/Landscape/T_GDC*
**/Landscape/T_Forest*
**/Landscape/T_Dead*
**/Landscape/T_Craghead*
**/Landscape/T_Large*
**/Landscape/T_Ground_Grass*

**/Props/T_Vege*
**/Props/T_Hill*
**/Props/T_Forest*



src/floorTiles.xcf
src/tilesBig.xcf
src/glass.xcf
src/tiles.xcf

References/
**/*.blend1
