**/Build
**/Cooked
**/Binaries
**/DerivedDataCache
**/Intermediate
**/Saved
**/.vs
**/*.VC.db
**/*.opensdf
**/*.opendb
**/*.sdf
**/*.sln
**/*.suo
**/*.xcodeproj
**/*.xcworkspace
**/*_BuiltData.uasset
**/Developers
**/TestBuilds

**/Weapons/T_Metal_Metal02_D.uasset
**/Weapons/Rifle/T_MagGunT2_shade.uasset
**/Weapons/Rifle/T_MagGunT1_shade.uasset


Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
src/floorTiles.xcf
src/tilesBig.xcf
src/glass.xcf
src/tiles.xcf

